In [52]:
# https://www.populationpyramid.net/italy/2019/
    
import pandas as pd
kor = pd.read_csv('Republic of Korea-2019.csv', delimiter = ',')
itl = pd.read_csv('Italy-2019.csv', delimiter = ',')
for df in [kor,itl]:
    df['total'] = df.M+df.F
    df['ratio'] = df.total / df.total.sum()*100

kor_itl = pd.DataFrame( [kor.Age, kor.ratio, itl.ratio, kor.ratio - itl.ratio]).transpose()
kor_itl.columns = ['Age','Korea Ratio %', 'Italy Ratio %', 'K - I']
kor_itl.loc["50+"] = kor_itl[10:].sum()
kor_itl.loc["50+"].Age = "50+"
pd.options.display.float_format = '{:,.2f}'.format
kor_itl

       Age Korea Ratio % Italy Ratio % K - I
0      0-4          3.84          3.93 -0.09
1      5-9          4.43          4.49 -0.06
2    10-14          4.47          4.74 -0.27
3    15-19          5.07          4.74  0.33
4    20-24          6.49          4.88  1.61
5    25-29          6.78          5.25  1.53
6    30-34          6.52          5.60  0.92
7    35-39          7.53          6.13  1.40
8    40-44          7.79          7.14  0.65
9    45-49          8.47          8.09  0.38
10   50-54          8.41          8.09  0.33
11   55-59          8.07          7.53  0.54
12   60-64          7.06          6.37  0.69
13   65-69          4.92          5.84 -0.92
14   70-74          3.76          5.49 -1.73
15   75-79          2.96          4.31 -1.35
16   80-84          2.01          3.76 -1.75
17   85-89          0.97          2.23 -1.26
18   90-94          0.34          1.05 -0.71
19   95-99          0.09          0.31 -0.22
20    100+          0.01          0.03 -0.02
50+    50+         38.60         45.00 -6.40

In [69]:
# Let's assume that 

death_rate_yng =   0.1 / 100;
death_rate_old =    12 / 100;

for col in ['Korea Ratio %','Italy Ratio %']:
    old = kor_itl.loc['50+'][col]
    death_rate = (1-old)*death_rate_yng + old*death_rate_old 
    print(f'Death rate for {col.split()[0]} is {death_rate:2.4}')

Death rate for Korea is 4.594
Death rate for Italy is 5.356